
<body style="background-color: #fff;">
    <div>
    
        <h1 style="text-align: center; font-size: 24px; color: #333; margin-bottom: 10px;">Judul</h1>
        <p style="text-align: center; font-size: 16px; color: #666; margin-bottom: 30px;">Deskripsi Dokumen</p>
        
        <h2 style="text-align: center; font-size: 20px; color: #333; margin-bottom: 10px;">Data Tabel</h2>
        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
            <thead>
                <tr style="background-color: #0400fc;">
                    <th style="border: 1px solid #000; padding: 8px;">Kolom 1</th>
                    <th style="border: 1px solid #000; padding: 8px;">Kolom 2</th>
                    <th style="border: 1px solid #000; padding: 8px;">Kolom 3</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</body>
